.element__like{
    width: 22px;
    height: 19px;
    margin-top: 5px;
    background-repeat: no-repeat;
    background-color: transparent;
    background-image: url(../../../images/like.svg);
    border: none;
    cursor: pointer;

    
}

.element__like:hover{
    opacity: 0.5;
    transition: .3s;
}
