.profile__edit-button{
    max-width: 24px;
    width: 100%;
    height: 24px;
    margin-top: 15px;
    padding: 7px;
    box-sizing: border-box;
    border: 1px solid #FFFFFF;
    background-image: url(../../../images/pen.svg);
    background-position: center;
    background-size: 10px;
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer;
}

.profile__edit-button:hover{
    opacity: .6;
}

@media screen and (max-width: 1279px) {
    .profile__edit-button{
        max-width: 18px;
        height: 18px;
        margin-top: 8px;
        margin-left: 1px;
        padding: 5.25px;
        background-size: 7.5px;
    }
}