.popup-image__title{
    position: absolute;
    margin: 0;
    padding-top: 10px;
    align-items: left;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #ffffff;
}