.popup__form{
    max-width: 430px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    z-index: 10;
}

@media screen and (max-width: 1279px) {
    .popup__form{
        max-width: 282px;
    }
}