.popup-add__input{
    max-width: 358px;
    width: 100%;
    margin: 0 auto 30px;
    padding-bottom: 13px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1279px) {
    .popup-add__input{
        max-width: 238px;
    }
}