.popup__title{
    max-width: 358px;
    width: 100%;
    padding-top: 34px;
    padding-bottom: 54px;
    margin: 0 auto;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

@media screen and (max-width: 1279px) {
    .popup__title{
        max-width: 238px;
        margin-top: 25px;
        margin-bottom: 75px;
        font-size: 18px;
        line-height: 22px;
    }
}